h1 {
    color: rgb(84, 29, 100);
}

.green-text {
    color:green;
}

.red-text {
    color:red;
}

.logoimage {
    width: 300px;
    height: 25px;
}

.scaleImage {
    max-width: 300px;
}

.superimage {
    max-width: 150px;
}

#heroicText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 2px 1px #292929;
}

.smallText {
    font-size: x-small;
}

.special-link {
    text-decoration: none;
    transition: 5s color;
}

.special-link:hover {
    color:red;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.bgImage {
    background-image: url(/img/pickle2.png);
    background-size:8cm;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

footer {
    flex-shrink: 0;
}

.bgImage, .bgImage2, .bgImage3 {
    backdrop-filter: brightness(.5);    
}

.bgInlay {
    backdrop-filter: brightness(.3);

}

#titleText {
    font-family:'Creepster', cursive;
    font-size: 6em;
    margin: 0;
    text-transform: uppercase;
    /* color: rgb(255, 0, 0); */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 204, 255);
    text-shadow: 6px 3px #292929;
}

.bgImage2 {
    background-image: url(/img/pickle3.png);
    background-size:8cm;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.bgImage3 {
    background-image: url(/img/pickle4.png);
    background-size:8cm;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.bgImage4 {
    background-image: url(/img/pickle1.png);
    background-size:8cm;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}